.container {
    margin-left: 20px;
    margin-right: 20px;
}

.row {
    width: 100%;
}

.row::after {
    clear: both;
    display: table;
    content: "";
}

[class*="col-"] {
    width: 100%;
}

.pull-right {
    float: right;
}

@include medium-and-above {
    [class*="col-"] {
        float: left;
    }
    .col-1 {width:100%/12};
    .col-2 {width:8.333%*2};
    .col-3 {width:8.333%*3};
    .col-4 {width:8.333%*4};
    .col-5 {width:8.333%*5};
    .col-6 {width:8.333%*6};
    .col-7 {width:8.333%*7};
    .col-8 {width:8.333%*8};
    .col-9 {width:8.333%*9};
    .col-10 {width:8.333%*10};
    .col-11 {width:8.333%*11};
    .col-12 {width:100%};
}
