/******Colours*********/
$white: #ffffff!default;
$black: #000000!default;
$grey: rgb(209, 206, 206)!default;
$dark: rgb(29, 27, 27)!default;
$off-white: #dfd7d7!default;

$text-color: $black;
$mobile-text-color: $white;
$link-color: $grey;
$background-primary:$black;
$background-secondary:$dark;
$background-tetiary:$white;
/**********************/


/*****Dimensions*******/
$small-and-above:600px;
$medium-and-above:1000px;
$font-size-primary: 16px;
