.subscribe-primary {
    img {
        max-width: 100%;
        position: relative;
    }
}

.subscribe {  
    color: $mobile-text-color;
    position: absolute;
    top:50%;
    left: 20px;
    h1 {
        display: none;
        font-size: 20px;
        margin: 20px 0px; 
    }

    @include small-and-above {
        h1 {
            display: block;
            font-size: 50px;
        }
        top:60%;
    }
    @include medium-and-above {
        h1 {display: block;}
        top:70%;
    }
}

